$bgColor = #F4D04B
$priceFontColor = #FD8925
// #F4D04B
//  #1AB7A0
// #00bcd4

.border-bottom-dashed-one {
  border-bottom: 1px dashed $bgColor;
}
.border-bottom-dashed-two {
  border-bottom: 1.5px dashed $bgColor;
}